@use "../../scss/variables" as *;
@use "../../scss/mixins";

.success {
  @include mixins.flex(column);

  justify-content: center;
  align-items: center;

  text-align: center;
  gap: 1rem;

  min-width: $minPageWidth;

  .message {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
  }

  img {
    width: 6rem;
    height: 6rem;
  }

  .title {
    font-family: $titleFont;
    font-size: 3rem;
    margin: 0;
  }

  .description {
    font-size: $mainFontSize;
    margin: 0;
  }

  .close {
    margin-top: 1rem;
  }
}
