@use "../../scss/variables" as *;
@use "../../scss/mixins";

.form {
  @include mixins.flex(column);
  gap: 1.5rem;

  background: $primaryLight;
  padding: $defaultPadding;
  border-radius: 2rem;

  .label {
    width: 100%;
  }

  .input {
    width: 100%;
    box-sizing: border-box;

    background: $primary;
    color: white;

    border: 1px solid transparent;
    border-radius: 1rem;

    padding: 1rem;
    font-size: 1.2rem;

    outline-color: $secondary;

    &:focus {
      outline-style: solid;
    }

    &:invalid {
      border-color: $error;
      outline-color: $error;
    }

    &::placeholder {
      color: lighten($primaryLight, 23%);
    }
  }
}
