@use "../../scss/variables" as *;
@use "../../scss/mixins";

.card {
  height: 6rem;
  width: 100%;
  background-color: $primary;
  color: white;

  display: flex;
  align-items: center;

  overflow: hidden;
  cursor: pointer;

  .image {
    height: 100%;
    width: 120px;
    object-fit: cover;
    flex-shrink: 0;
  }

  .title {
    margin-left: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
  }
}
